Diagnostics:
  ClangTidy:
    # Only availabile in clang 18+
    FastCheckFilter: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader: [base/logging.h, cstdint, cstddef, __chrono/duration.h]

# I'm not showing these, so disable them in the hopes of saving
# time.
InlayHints:
  Enabled: No

CompileFlags:
  Add: [-xc++, -Wall, -Wshadow-field, --std=c++23, -Ic:/code/SDL/include, -I., -I.., -I../../cc-lib, -I../../sqlite, -I../../codec]
